@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;




}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}


body {
    background-color: black;
    color: white;
    font-family: poppins;





}


main {

    height: 100vh;


}




video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;

}

.menu {

    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    top: 0px;
    z-index: 1;
    transition: top 0.3s;
}

.nav--up {
    top: -100px;
}

.menu-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;




}

.open-menu {
    margin: 20px;
    display: none;
    cursor: pointer;
}

.close-menu {
    margin: 20px;
    display: none;
    cursor: pointer;
}


i {
    display: none;
    cursor: pointer;
}

@media(max-width: 1150px) {
    .menu-bar-icon {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        transition: top 1s ease;
        display: none;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .open-menu {
        display: block;
    }

    a:hover {
        background: none;
        color: rgb(255, 0, 0)
    }

    i {
        display: inline-block;
        padding: 12px;
    }
}



.menu-bar-icon {
    display: flex;






}

.logo {
    font-size: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}


span {
    background: linear-gradient(90deg, rgb(252, 3, 3), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}

.bilety-span {
    background: linear-gradient(90deg, rgb(252, 3, 3), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 1px solid red;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.15s ease-in-out;










}

.bilety-span:hover {
    background: linear-gradient(90deg, rgb(245, 253, 0), rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-color: rgb(255, 242, 0);


}

a {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;



}

a:hover {
    color: red;



}

.menu-bar-icon li {
    display: inline-block;
    padding: 30px 30px;
    font-size: 20px;
    margin: 0 10px;




}


.hidden {
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hidden2 {
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




/* 2 strona */


section.page2 {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
    display: block;
    z-index: -1;




}


div.main-site {

    text-align: center;
    overflow-x: hidden;




}

h1.text {
    font-size: 40px;
    padding: 50px;
    background: linear-gradient(90deg, rgb(252, 3, 3), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}

h2 {

    font-size: 16px;
    padding: 20px;
    font-weight: 900;


}

h3 {
    font-size: 40px;
    padding: 20px;
    background: linear-gradient(90deg, rgb(252, 3, 3), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

p {
    padding: 5px;
    font-size: 16px;
    justify-content: center;
    margin: 20px;
    font-weight: 900;
}

/* 3 strona */

section.page3 {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    z-index: -1;
}

div.page3-item {

    text-align: center;
}

h1.lineup {
    font-size: 40px;
    color: red;

}

div.row {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;




}

div.container {

    display: grid;
    padding: 10px 20px;
    margin: auto;



}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;





}

img:hover {
    transform: scale(1.05);

}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(5, 0, 0, 0.698);
    opacity: 0;
    transition: 0.6s;


}

.content:hover {
    opacity: 1;
}

.content h1 {
    font-size: 55px;
    color: white;
}

.artist {
    position: relative;
    max-width: 500px;
}


/* 3 */

h1.biletyh1 {
    font-size: 40px;
    color: rgb(255, 0, 0);
}

section.page4 {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    z-index: -1;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.506), rgba(53, 0, 0, 0.411));
    width: 100vw;

}

.page4-item-container {

    margin-right: auto;
    margin-left: auto;
    display: grid;









}

.bilety2,
.bilety3,
.bilety4 {
    border: 2px solid rgb(255, 0, 0);
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;


    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    filter: blur(5px);



}

.showbilety {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);

}



.bilety2:hover,
.bilety3:hover,
.bilety4:hover {
    box-shadow: 0px 0px 50px red;
}

.biletyh2,
.biletyh3,
.biletyh4 {
    font-size: 30px;
    align-items: center;
    justify-content: center;



}

p.price {
    font-size: 20px;


}

.price:hover {
    opacity: 1;
}



/* footer */



footer.footer-section {
    display: block;










}




.section-container-up {
    background-color: rgb(184, 138, 0);
    display: block;
    padding: 15px;
    margin: auto;

}

.section-container-left-icon {
    margin-left: 12%;

}

i {
    font-size: 30px;
    padding: 20px;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

i:hover {
    color: red;
    font-size: 32px;
}


ul li {
    padding: 20px;
    padding-left: 0;
    display: block;
    font-size: 18px;
}

.footer-col {
    padding: 50px 15px;
    display: block;



}


.footer-col h1 {
    color: rgb(255, 0, 0);
    font-size: 35px;
    margin-bottom: 40px;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer-container-down {
    max-width: 1320px;
    margin: auto;

}


@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;



    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width: 1100px) {
    .footer-col {
        width: 100%;
    }
}



@media screen and (max-width: 991px) {
    .page2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (width: 900px) {
    .body {
        width: 50%;
    }
}


.wrapp {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.map {
    background: linear-gradient(90deg, rgb(252, 3, 3), rgb(251, 255, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: cross 1s infinite alternate;
}



@keyframes cross {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.5);
    }
}

@media(max-width: 574px) {
    main {
        height: 100%;
    }

    .menu {
        flex-direction: column;
    }

    video {
        position: relative;
        top: 12vh;
        height: auto;
    }

    .artist {
        width: 100%;
    }

    div.row {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }
}


@media(max-width: 767px) {
    main {
        height: 100%;
    }

    .menu {
        flex-direction: column;
    }

    video {
        position: relative;
        top: 12vh;
        height: auto;
    }

    .artist {
        width: 100%;
    }

    div.row {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }
}



@media(max-width: 1100px) {
    main {
        height: 100%;
    }

    .menu {
        flex-direction: column;
    }

    video {
        position: relative;
        top: 12vh;
        height: auto;
    }

    .artist {
        width: 100%;
    }

    div.row {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }
}